.bg-color-navbar {
  background-color: rgba(51, 51, 51, 0.781) !important;
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 2% !important;
}

.bg-banner {
  background: url("../imagenes/mobile.jpg");
  background-attachment: fixed;      
  width: 100%;
  min-height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 20%;
  zoom: -10%;
}

@media (min-width:768px){
  .bg-color-navbar {
    background-color: rgba(51, 51, 51, 0.671) !important;
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 2% !important;
  }
  .bg-banner {
    background: url("../imagenes/desktop.jpg");
    background-attachment: fixed;    
    min-height: 700px;
    height: 128vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}



